@charset "UTF-8";

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cv {
  position: relative;
  width: 391px;
  height: 496px;
  background-color: #202020;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  background-color: #f0d84f;
  width: 239.5px;
  height: 239.5px;
  position: absolute;
  left: -143px;
  top: -122px;
}

.foto {
  border-radius: 10px;
  background: url(imgs/rectangle1.png) no-repeat center/cover;
  width: 94.5px;
  height: 95px;
  flex-shrink: 0;
  position: absolute;
  top: 32px;
  left: 26.5px;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.info {
  border-radius: 10px;
  background-color: #0e0e0e;
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.25);
  width: 223px;
  height: 94px;
  flex-shrink: 0;
  position: absolute;
  top: 32px;
  left: 141.5px;
}

.nome {
  color: #f7f7f7;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 26px;
  top: 7px;
}

.campo-atuacao {
  color: #d0bb2c;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 26px;
  top: 24px;
}

.about {
  color: #e5e5e5;
  font-size: 7.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 26px;
  top: 47.5px;
}

.destaque {
  color: #f0db4f;
}

.projetos {
  width: 183.5px;
  height: 137px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0e0e0e;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 147px;
  left: 26.5px;
}

.titulo {
  position: absolute;
  top: 10.5px;
  left: 20px;
  color: #d0bb2c;
  font-size: 7.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.barra-lateral {
  position: absolute;
  top: 32px;
  left: 19px;
  width: 3px;
  height: 94.5px;
  border-radius: 5px;
  background: #f0db4f;
  flex-shrink: 0;
}

a {
  text-decoration: underline;
  color: #f7f7f7;
  font-size: 7.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 29px;
}

blockquote {
  color: #fff7c2;
  font-size: 4.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 32px;
}

.projetos a:nth-of-type(1) {
  top: 32px;
}

.projetos blockquote:nth-of-type(1) {
  top: 42px;
}

.projetos a:nth-of-type(2) {
  top: 52px;
}

.projetos blockquote:nth-of-type(2) {
  top: 62px;
}

.projetos a:nth-of-type(3) {
  top: 72px;
}

.projetos blockquote:nth-of-type(3) {
  top: 82px;
}

.projetos a:nth-of-type(4) {
  top: 92px;
}

.projetos blockquote:nth-of-type(4) {
  top: 102px;
}

.projetos a:nth-of-type(5) {
  top: 112px;
}

.projetos blockquote:nth-of-type(5) {
  top: 122px;
}

.cursos {
  position: absolute;
  left: 225px;
  top: 147px;
  width: 139.5px;
  height: 137px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  background: #0E0E0E;
  flex-shrink: 0;
}

.cursos a:nth-of-type(1) {
  top: 32px;
}

.cursos blockquote:nth-of-type(1) {
  top: 42px;
}

.cursos a:nth-of-type(2) {
  top: 52px;
}

.cursos blockquote:nth-of-type(2) {
  top: 62px;
}

.cursos a:nth-of-type(3) {
  top: 72px;
}

.cursos blockquote:nth-of-type(3) {
  top: 82px;
}

.cursos a:nth-of-type(4) {
  top: 92px;
}

.cursos blockquote:nth-of-type(4) {
  top: 102px;
}

.cursos a:nth-of-type(5) {
  top: 112px;
}

.cursos blockquote:nth-of-type(5) {
  top: 122px;
}